{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block content %}
    <!-- Landing Page -->
    <section class="text-center text-white">
        <div class="container">
            <h1 class="display-4">Bem-vindo ao <b>Tiny RPG Exalt</b></h1>
            <p class="lead">O RPG Idle do futuro. Aventure-se, colecione e conquiste o topo!</p>
            <a href="{{url_for('get_jogar')}}" class="btn btn-light btn-lg">Jogar Agora</a>
        </div>
    </section>

    <hr>

    <!-- Seção Placar de Líderes -->
    <section class="section">
        <div class="container text-center">
            <h2 class="section-title mb-5">Placar de Líderes</h2>
            <p>Os assets utilizados no jogo foram retirados de fontes externas e são creditados abaixo:</p>
            <ul class="list-group w-100">
                {% for pontuacao in placar_de_lideres %}
                    <li class="list-group-item bg-transparent text-white row d-flex">
                        <div class="col-3">#{{pontuacao.posicao}}</div>
                        <div class="col-3">{{pontuacao.nome}}</div>
                        <div class="col-3">{{pontuacao.level}}</div>
                        <div class="col-3">{{pontuacao.classe}}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <hr>

    <!-- Seção de Funcionalidades -->
    <section id="features" class="section">
        <div class="container text-center">
            <h2 class="section-title mb-5">Funcionalidades do Jogo</h2>
            <div class="row">
                <!-- Exemplo de card de funcionalidade -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aventuras Automáticas</h5>
                            <p class="card-text">Deixe seus heróis em missões automáticas enquanto você foca em outras tarefas!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sistema de Atributos</h5>
                            <p class="card-text">Evolua como quiser, distribuinto pontos ao passar de level.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Colecione Tudo!</h5>
                            <p class="card-text">Enfrente inimigos raros para conseguir itens ainda mais raros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Seção de Créditos -->
    <section class="section">
        <div class="container text-center">
            <h2 class="section-title mb-5">Créditos</h2>
            <p>Os assets utilizados no jogo foram retirados de fontes externas e são creditados abaixo:</p>
            <ul class="list-unstyled">
                <li><strong>Arte do personagem:</strong> <a href="https://sethbb.itch.io/32rogues" target="_blank">32rogues</a></li>
                <li><strong>Arte dos efeitos:</strong> <a href="https://bdragon1727.itch.io/750-effect-and-fx-pixel-all" target="_blank">750 Effect and FX Pixel All</a></li>
                <li><strong>Arte das habilidades e estados:</strong> <a href="https://pixerelia.itch.io/vas-basic-spells-and-buffs" target="_blank">[Verboten Arcane Stash] Basic Skills and Buffs</a></li>
            </ul>
        </div>
    </section>

    <!-- <hr> -->
    <!-- Seção de Assinatura Premium -->
    <!-- <section class="section">
        <div class="container text-center">
            <h2 class="section-title mb-5">Torne-se um Patrocinador</h2>
            <p class="lead mb-4">Ajude o jogo a crescer, por apenas <b class="text-warning">R$ 5.00/mês</b>, e receba recompensas exlusivas!</p>
            <a data-bs-toggle="modal" data-bs-target="#modal-patrocinador" class="btn btn-warning btn-lg">Tornar-se um Patrocinador</a>
        </div>
    </section>
    <div class="modal fade" id="modal-patrocinador">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Torne-se um Patrocinador</h5>
                    <button type="button" class="btn p-0 ms-auto" data-bs-dismiss="modal" aria-label="Close">
                        <div class="material-symbols-outlined text-white">close</div>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Esse é um jogo totalmente independente, escrito do zero por um único desenvolvedor.</p>
                    <p>Manter o jogo e seu servidor dá trabalho e tem custos, mas você pode ajudar com isso!</p>
                    <p>Por <b class="text-warning">R$ 5.00/mês</b> você se torna um patrocinador, e tem direito á:</p>
                    <ul>
                        <li>Um ícone especial em seu nome.</li>
                        <li>Chance de obter itens exclusivos em cada masmorra.</li>
                        <li>Acesso á terceira evolução de classe.</li>
                        <li>Capacidade de "renascer" personagem.</li>
                    </ul>
                    <form method="{{url_for('get_link_pagamento')}}">
                        <div class="mb-3 form-group">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" name="email" class="form-control">
                            <small class="form-help">Você recebera um link de pagamento, informe o e-mail da sua conta ou lembre-se de criar uma conta com o mesmo e-mail.</small>
                        </div>
                        <button class="btn btn-warning w-100">
                            Receber link
                        </button>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
    <hr>
    <div class="section">
        <div class="container text-center">
            Criado por <a href="https://iagobalmeida.vercel.app/">Iago B. Almeida</a> / iago.borba.almeida@gmail.com
        </div>
    </div>
{% endblock %}