{% extends 'base.html' %}

{% block content %}
    <div id="app" class="container">
        <audio id="audio_musica" volume="0" src="static/audio_musica.wav" loop></audio>
        <audio id="audio_dano_monstro" volume="0" src="static/audio_dano_monstro.wav"></audio>
        <audio id="audio_dano_jogador" volume="0" src="static/audio_dano_jogador.wav"></audio>
        <audio id="audio_exp_up" volume="0" src="static/audio_exp_up.wav"></audio>
        <audio id="audio_level_up" volume="0" src="static/audio_level_up.wav"></audio>
        <audio id="audio_usar_item" volume="0" src="static/audio_usar_item.wav"></audio>

        <h1 class="text-center mb-4">
            <a class="text-white" href="{{url_for('get')}}">Tiny RPG</a>
        </h1>

        <div class="toast-container top-5 start-50 translate-middle" id="toast-container"></div>

        <h3 class="mt-3 text-center" v-if="!conexaoAtual">Conectando...</h3>

        <div class="alert alert-danger" v-if="erroMultiplosClientes">
            Parece que já tem uma instância de Tiny RPG jogando!
        </div>

        <div v-if="conexaoAtual && !erroMultiplosClientes && !autenticado">
            <div class="card">
                <form class="card-body" @submit.prevent="login">
                    <div class="form-group mb-3" v-if="cadastrando">
                        <label for="nome">Nome</label>
                        <input v-model="nome" type="text" class="form-control" name="nome">
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">E-mail</label>
                        <input v-model="email" type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group mb-3">
                        <label for="senha">Senha</label>
                        <input v-model="senha" type="password" class="form-control" name="senha">
                    </div>
                    <div class="form-group mb-3" v-if="cadastrando">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <input v-model="confirmarSenha" type="password" class="form-control" name="confirmarSenha">
                    </div>
                    <button class="btn btn-light">[[cadastrando ? 'Criar' : 'Entrar']]</button>
                    <button type="button" class="btn btn-outline-light ms-2" @click="toggleCadastrando()">[[cadastrando ? 'Voltar' : 'Criar conta']]</button>
                </form>
            </div>
        </div>

        <div v-if="conexaoAtual && !erroMultiplosClientes && autenticado">
            <div class="card mb-3" :class="{'opacity-50': !podeEnviarAcao}" v-if="masmorra">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title d-flex align-items-center justify-content-start gap-2 mb-1">
                                <div class="material-symbols-outlined text-lg">location_on</div>
                                <span>
                                    [[ masmorra.nome ]]
                                </span>
                            </h3>
                            <p class="mb-1">[[ masmorra.descricao ]]</p>
                            <div class="d-flex align-items-center justify-content-start gap-2 mb-3 mb-md-0" v-if="jogadorProximaMissao">
                                <div class="material-symbols-outlined">target</div>
                                <p class="mb-0">Matar [[jogadorProximaMissao.contagem]] / [[jogadorProximaMissao.total]] [[jogadorProximaMissao.nome_inimigo]]</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-start gap-2 mb-3 mb-md-0" style="opacity:50%" v-else>
                                <div class="material-symbols-outlined">target</div>
                                <p class="mb-0">Sem missões no momento</p>
                            </div>
                        </div>
                        <div class="col-md-4"  v-if="masmorras">
                            <div class="rounded border border-white p-2 text-white d-flex flex-row gap-2 align-items-center mb-3">
                                <div class="material-symbols-outlined">
                                    steps
                                </div>
                                [[`${masmorra.passos}/${masmorra.total_passos}`]]
                            </div>
                            <div class="dropdown">
                                <ul class="dropdown-menu w-100">
                                    <li v-for="masmorra in masmorras">
                                        <a class="dropdown-item" @click="mudarMasmorra(masmorra.chave)" v-if="!Object.keys(missoes).includes(masmorra.chave) || missoes[masmorra.chave].completa">[[ masmorra.nome ]]</a>
                                        <a class="dropdown-item text-muted d-flex align-items-center gap-1" data-bs-toggle="tooltip" :data-bs-title="`Mate ${missoes[masmorra.chave].total} ${missoes[masmorra.chave].nome_inimigo}`" v-else>
                                            <div class="material-symbols-outlined text-muted">lock</div>
                                            [[ masmorra.nome ]]
                                        </a>
                                    </li>
                                </ul>
                                <button class="btn btn-light dropdown-toggle w-100  d-flex flex-row gap-2 align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="material-symbols-outlined text-black">map</div>
                                    Viajar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mb-3 gap-3 gap-md-0" :class="{'opacity-50': !podeEnviarAcao}">
                <div class="col-md-5"> 
                    <div class="card jogador-card " v-if="jogador">
                        <div class="card-body p-0">
                            <div class="entity-container p-3 rounded d-flex flex-column" data-bs-toggle="collapse" data-bs-target=".row.collapse.jogador" :style="{
                                '--masmorra-bg': `url('/static/${masmorra.imagem_background}')`,
                                'background': `linear-gradient(var(--bg-dark), transparent 30%), linear-gradient(transparent, var(--bg-dark) 70%), var(--masmorra-bg)`,
                                'background-size': 'cover',
                                'background-position': 'center'
                            }">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">
                                        [[ jogador.nome ]]
                                    </h3>
                                    <h3 class="opacity-50">
                                        Lv [[jogador.level]]
                                    </h3>
                                </div>
                                <div class="text-center my-2" id="wrapper-sprite-jogador" style="position: relative;">
                                    <div class="sprite-container"  :style="{'animation-duration': `${Math.max(250, 500*jogador.resistencia/jogador.agilidade)}ms`}">
                                        <div :class="`sprite ${jogadorEstadoClasses} ${jogador.vida <= 0 ? 'morto' : ''}`"
                                            :style="{
                                                '--sprite-x': jogador.sprite_x, 
                                                '--sprite-y': jogador.sprite_y,
                                                'background-image': `url('/static/${jogador.sprite_nome}')`,
                                                'background-size': `${jogador.sprite_largura}px ${jogador.sprite_altura}px`
                                            }"></div>
                                    </div>
                                </div>
                                <p class="text-center mb-0">[[ jogador.descricao ]]</p>
                            </div>
                            <div class="entity-info p-3 rounded">
                                <div class="status-bars" data-bs-toggle="collapse" data-bs-target=".row.collapse.jogador" style="position: relative;">
                                    <div style="position: absolute; margin-left: auto; margin-right: auto; display: flex; flex-direction: row; gap:1rem; top:-24px; width:100%; padding:0px 8px;">
                                        <img
                                            v-for="estado in jogador.estados"
                                            :src="`/static/estados/${estado.nome}.png`"
                                            style="width: 32px; height: 32px; image-rendering: pixelated;" data-bs-toggle="tooltip" :data-bs-title="`${estado.nome}`"
                                        >
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar vida-bar" role="progressbar" 
                                            :style="{ width: (jogador.vida / jogador.vida_maxima * 100) + '%' }"
                                            :aria-valuenow="jogador.vida" 
                                            :aria-valuemin="0" 
                                            :aria-valuemax="jogador.vida_maxima">
                                            [[ jogador.vida ]]
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar energia-bar" role="progressbar" 
                                            :style="{ width: (jogador.energia / jogador.energia_maxima * 100) + '%' }"
                                            :aria-valuenow="jogador.energia" 
                                            :aria-valuemin="0" 
                                            :aria-valuemax="jogador.energia_maxima">
                                            [[ jogador.energia ]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row collapse show jogador">
                                    <div class="col-md-6">
                                        <div class="atributo border" :class="{ 'text-info border border-info': jogador.pontos_disponiveis}" data-bs-toggle="tooltip" data-bs-title="Pontos Disponíveis">
                                            <span class="material-symbols-outlined" :class="{'text-info': jogador.pontos_disponiveis}">adjust</span>
                                            [[ jogador.pontos_disponiveis ]]
                                        </div>
        
                                        <div class="atributo border text-white" :class="{'btn btn-info text-white': jogador.pontos_disponiveis > 0}" data-bs-toggle="tooltip" data-bs-title="Força" @click="jogador.pontos_disponiveis && aumentarAtributo('forca')">
                                            <div class="d-flex fflex-row gap-2 align-items-center justify-content-center">
                                                <span class="material-symbols-outlined">fitness_center</span>
                                                <div class="d-flex flex-row gap-1 align-items-start justify-content-center" v-html="jogadorForca"></div>
                                            </div>
                                            <span v-if="jogador.pontos_disponiveis" class="material-symbols-outlined">add</span>
                                        </div>
        
                                        <div class="atributo border text-white" :class="{'btn btn-info text-white': jogador.pontos_disponiveis > 0}" data-bs-toggle="tooltip" data-bs-title="Agilidade" @click="jogador.pontos_disponiveis && aumentarAtributo('agilidade')">
                                            <div class="d-flex fflex-row gap-2 align-items-center justify-content-center">
                                                <span class="material-symbols-outlined">directions_run</span>
                                                <div class="d-flex flex-row gap-1 align-items-start justify-content-center" v-html="jogadorAgilidade"></div>
                                            </div>
                                            <span v-if="jogador.pontos_disponiveis" class="material-symbols-outlined">add</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="atributo border text-info border border-info" data-bs-toggle="tooltip" data-bs-title="Próximo Level">
                                            <span class="material-symbols-outlined text-info">grain</span>
                                            [[ jogador.experiencia ]] / [[ jogador.experiencia_proximo_nivel ]]
                                        </div>
        
                                        <div class="atributo border text-white" :class="{'btn btn-info text-white': jogador.pontos_disponiveis > 0}" data-bs-toggle="tooltip" data-bs-title="Resistência" @click="jogador.pontos_disponiveis && aumentarAtributo('resistencia')">
                                            <div class="d-flex fflex-row gap-2 align-items-center justify-content-center">
                                                <span class="material-symbols-outlined">shield</span>
                                                <div class="d-flex flex-row gap-1 align-items-start justify-content-center" v-html="jogadorResistencia"></div>
                                            </div>
                                            <span v-if="jogador.pontos_disponiveis" class="material-symbols-outlined">add</span>
                                        </div>
        
                                        <div class="atributo border text-white" :class="{'btn btn-info text-white': jogador.pontos_disponiveis > 0}" data-bs-toggle="tooltip" data-bs-title="Inteligência" @click="jogador.pontos_disponiveis && aumentarAtributo('inteligencia')">
                                            <div class="d-flex fflex-row gap-2 align-items-center justify-content-center">
                                                <span class="material-symbols-outlined">psychology</span>
                                                <div class="d-flex flex-row gap-1 align-items-start justify-content-center" v-html="jogadorInteligencia"></div>
                                            </div>
                                            <span v-if="jogador.pontos_disponiveis" class="material-symbols-outlined">add</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 d-flex flex-row flex-md-column gap-3" v-if="jogador">
                    <button
                    v-for="habilidade in jogador.classe.habilidades"
                    :disabled="jogador.energia < jogador.custo_habilidades[habilidade.nivel-1] || jogador.recarga_habilidades"
                    class="w-100 btn-sm btn btn-light d-flex justify-content-center align-items-center flex-column gap-1 relative"
                    @click="enviarAcao(habilidade.descricao)"
                    data-bs-toggle="tooltip"
                    :data-bs-title="habilidade.descricao"
                    >
                        <img :src="`/static/habilidades/${habilidade.descricao}.png`" :alt="habilidade.descricao" style="width: 32px; height: 32px; image-rendering: pixelated;">
                        <span
                        :style="`
                        --progress-position: ${((6-jogador.recarga_habilidades)/6)*100}%;
                        --progress-bg: ${ jogador.energia >= jogador.custo_habilidades[habilidade.nivel-1] ? 'rgba(var(--bs-primary-rgb))' : '#666'};
                        font-size: 18px;
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        right: -8px;
                        top: -8px;
                        border-radius: 100%;
                        background: conic-gradient(var(--progress-bg) var(--progress-position), #000 var(--progress-position));
                        transition: all 125ms ease-in-out;
                        color: white;
                        border: 2px solid white;
                        display: flex;
                        align-items: center;
                        justify-content: center;`
                        ">
                            [[ jogador.custo_habilidades[habilidade.nivel-1] ]]
                        </span>
                        <span class="d-none d-md-block">[[habilidade.nome]]</span>
                    </button>
                    <button class="w-100 btn btn-sm btn-info d-flex justify-content-center align-items-center flex-column gap-1" v-if="jogador && jogador.classe.nivel < 3" data-bs-toggle="modal" data-bs-target="#modal_evolucao">
                        <div class="material-symbols-outlined text-black">arrow_upload_ready</div>
                        <span class="d-none d-md-block" >Evolução</span>
                    </button>
                </div>
                <div class="col-md-5">
                    <div class="card inimigo-card " v-if="inimigo">
                        <div class="card-body p-0">
                            <div class="entity-container rounded p-3 rounded d-flex flex-column" data-bs-toggle="collapse" data-bs-target=".row.collapse.inimigo"  :style="{
                                '--masmorra-bg': `url('/static/${masmorra.imagem_background}')`,
                                'background': `linear-gradient(var(--bg-dark), transparent 30%), linear-gradient(transparent, var(--bg-dark) 70%), var(--masmorra-bg)`,
                                'background-size': 'cover',
                                'background-position': 'center'
                            }">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">
                                        [[ inimigo.nome ]]
                                    </h3>
                                    <h3 class="opacity-50">
                                        Lv [[inimigo.level]]
                                    </h3>
                                </div>
                                <div class="text-center my-2" id="wrapper-sprite-inimigo" style="position: relative;">
                                    <div class="sprite-container"  :style="{'animation-duration': `${500*inimigo.resistencia/inimigo.agilidade}ms`}">
                                        <div :class="`sprite ${inimigoEstadoClasses} ${inimigo.vida <= 0 ? 'morto' : ''}`"
                                            :style="{
                                                '--sprite-x': inimigo.sprite_x, 
                                                '--sprite-y': inimigo.sprite_y,
                                                'background-image': `url('/static/${inimigo.sprite_nome}')`,
                                                'background-size': `${inimigo.sprite_largura}px ${inimigo.sprite_altura}px`
                                            }"></div>
                                    </div>
                                </div>
                                <p class="text-center mb-0">[[ inimigo.descricao ]]</p>
                            </div>
                            <div class="entity-info p-3 rounded">
                                <div class="status-bars" data-bs-toggle="collapse" data-bs-target=".row.collapse.inimigo" style="position: relative;">
                                    <div style="position: absolute; margin-left: auto; margin-right: auto; display: flex; flex-direction: row; gap:1rem; top:-24px; width:100%; padding:0px 8px;">
                                        <img
                                            v-for="estado in inimigo.estados"
                                            :src="`/static/estados/${estado.nome}.png`"
                                            style="width: 32px; height: 32px; image-rendering: pixelated;" data-bs-toggle="tooltip" :data-bs-title="`${estado.nome}`"
                                        >
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar vida-bar" role="progressbar" 
                                            :style="{ width: (inimigo.vida / inimigo.vida_maxima * 100) + '%' }"
                                            :aria-valuenow="inimigo.vida" 
                                            :aria-valuemin="0" 
                                            :aria-valuemax="inimigo.vida_maxima">
                                            [[ inimigo.vida ]]
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar energia-bar" role="progressbar" 
                                            :style="{ width: (inimigo.energia / inimigo.energia_maxima * 100) + '%' }"
                                            :aria-valuenow="inimigo.energia" 
                                            :aria-valuemin="0" 
                                            :aria-valuemax="inimigo.energia_maxima">
                                            [[ inimigo.energia ]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row collapse show inimigo">
                                    <div class="col-md-6">
                                        <div class="atributo border text-warning border border-warning" data-bs-toggle="tooltip" data-bs-title="Ouro">
                                            <span class="material-symbols-outlined text-warning">paid</span>
                                            [[ inimigo.ouro ]]
                                        </div>
                                        <div class="atributo border" data-bs-toggle="tooltip" data-bs-title="Força">
                                            <span class="material-symbols-outlined">fitness_center</span>
                                            [[ inimigo.forca ]]
                                        </div>
                                        <div class="atributo border" data-bs-toggle="tooltip" data-bs-title="Agilidade">
                                            <span class="material-symbols-outlined">directions_run</span>
                                            [[ inimigo.agilidade ]]
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="atributo border text-info border border-info" data-bs-toggle="tooltip" data-bs-title="Experiência">
                                            <span class="material-symbols-outlined text-info">grain</span>
                                            [[ inimigo.experiencia ]]
                                        </div>
                                        <div class="atributo border" data-bs-toggle="tooltip" data-bs-title="Resistência">
                                            <span class="material-symbols-outlined">shield</span>
                                            [[ inimigo.resistencia ]]
                                        </div>
                                        <div class="atributo border" data-bs-toggle="tooltip" data-bs-title="Inteligência">
                                            <span class="material-symbols-outlined">psychology</span>
                                            [[ inimigo.inteligencia ]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" v-if="inventario">
                <div class="p-3 d-flex flex-row align-items-center justify-content-between border-bottom">
                    <h3 class="d-flex align-items-center gap-2 card-title text-white mb-0">
                        <div class="material-symbols-outlined">business_center</div>
                        Inventário ([[inventario.length]]/[[tamanhoInventario]])
                    </h3>
                    <div v-if="jogador" class="rounded border border-warning p-2 text-warning d-flex flex-row justify-content-start align-items-center gap-2" data-bs-toggle="tooltip" data-bs-title="Ouro">
                        <div class="material-symbols-outlined text-warning">paid</div>
                        [[ jogador.ouro ]]
                    </div>
                </div>
                <div class="card-body">
                    <div class="item-container gap-3 justify-content-center align-items-center">
                        <div class="dropdown-center" v-for="(item, indice) in inventario">
                            <button
                            :class="`item p-1 rounded ${item.em_uso ? 'em-uso' : ''}`"
                            style="background:rgba(2, 2, 2, 0.25); aspect-ratio: 1/1;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            data-bs-custom-class="popover"
                            @click="tocarAudio('#audio_usar_item')"
                            >
                                <div class="sprite" :style="{
                                    '--size': 'calc(2 * 32px)',
                                    '--sprite-x': item.sprite_x,
                                    '--sprite-y': item.sprite_y,
                                    'background-image': `url('/static/sprites_01.png')`,
                                    'background-size': 'calc(2 * 320px) calc(2 * 320px)'
                                }">
                                </div>
                                <span class="bg-white text-black rounded border-white quantidade">
                                    [[item.quantidade]]
                                </span>
                                <span class="bg-white text-black rounded border-white informacao-adicional" v-if="item.tipo == 'EQUIPAMENTO' && item.em_uso">
                                    Em Uso
                                </span>
                                <span class="bg-white text-black rounded border-white uso-automatico" v-if="item.nome == usarAutomaticoEnergiaNome || item.nome == usarAutomaticoVidaNome">
                                    Auto
                                </span>
                            </button>
                            <div class="dropdown-menu">
                                <li><h5>[[item.nome]]</h5></li>
                                <p class="mb-0" v-html="processarDescricaoItem(item.descricao)"></p>
                                <li><hr class="dropdown-divider mb-3"></li>
                                <a class="dropdown-item" @click="itemAcao(indice, 'usar')" v-if="item.tipo == 'EQUIPAMENTO'">
                                    [[ item.em_uso ? 'Remover' : 'Equipar' ]]
                                </a>
                                <template v-else>
                                    <a class="dropdown-item" @click="itemAcao(indice, 'usar_automatico')" v-if="item.atributo == 'energia' || item.atributo == 'vida'">
                                        [[ item.nome == usarAutomaticoEnergiaNome || item.nome == usarAutomaticoVidaNome ? 'Desligar auto-uso' : 'Usar automático' ]]
                                    </a>
                                    <a class="dropdown-item" @click="itemAcao(indice, 'usar')">
                                        Usar
                                    </a>
                                </template>
                                <a class="dropdown-item" @click="itemAcao(indice, 'descartar')">
                                    Descartar
                                </a>
                                <a class="dropdown-item" @click="itemAcao(indice, 'descartar_todos')" v-if="item.quantidade > 1">
                                    Descartar Todos
                                </a>
                            </div>
                        </div>
                        <div class="dropdown-center" v-if="tamanhoInventario - inventario.length > 0" v-for="n in (tamanhoInventario - inventario.length)">
                            <button
                            class="item p-1 rounded vazio"
                            style="background:rgba(2, 2, 2, 0.25); aspect-ratio: 1/1;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            data-bs-custom-class="popover"
                            >
                                <div class="sprite" :style="{
                                    '--size': 'calc(2 * 32px)',
                                    '--sprite-x': 3,
                                    '--sprite-y': 24,
                                    'background-image': `url('/static/items.png')`,
                                    'background-size': 'calc(2 * 352px) calc(2 * 832px)'
                                }">
                            </button>
                        </div>
                        <!-- Ainda não implementado -->
                        <button class="btn btn-light w-100" style="grid-column-start: 1; grid-column-end: 9;" @click="comprarExpansaoInventario">
                            +8 espaços
                            <div class="d-flex align-items-center justify-content-center gap-1">
                                <div class="material-symbols-outlined text-black">paid</div> [[ tamanhoInventario * 1000 ]]
                            </div>
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="card mb-3" :class="{'opacity-50': !podeEnviarAcao}">
                <div class="card-body d-flex flex-column flex-md-row gap-3">
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal_bestiario">Bestiário</button>
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal_placar_de_lideres">Placar de Líderes</button>
                    <button @click="toggleSons" class="btn btn-light">[[audioLigado ? 'Desligar' : 'Ligar']] sons</button>
                    <button class="btn btn-danger ms-md-auto" onclick="location.reload()">Sair</button>
                </div>
            </div>

            <div class="modal fade" id="modal_bestiario" tabindex="-1" v-if="masmorras">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Bestiário</h5>
                            <button type="button" class="btn p-0 ms-auto" data-bs-dismiss="modal" aria-label="Close">
                                <div class="material-symbols-outlined text-white">close</div>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3" v-for="(masmorra, index) in masmorras">
                                <div class="card-header text-white" data-bs-toggle="collapse" :data-bs-target="`#collapse_regiao_${index}`" style="cursor: pointer;">
                                    <h5>[[masmorra.nome]]</h5>
                                    <p class="mb-0">[[masmorra.descricao]]</p>
                                </div>
                                <div class="card-body collapse p-0" :id="`collapse_regiao_${index}`">
                                    <div class="d-flex gap-3 flex-wrap align-items-center justify-content-center p-3" v-if="masmorra.lista_itens.length">
                                        <button
                                        class="item p-1 rounded"
                                        style="background:rgba(2, 2, 2, 0.25)" v-for="item in masmorra.lista_itens"
                                        data-bs-toggle="popover"
                                        :data-bs-title="item.nome"
                                        data-bs-custom-class="popover"
                                        data-bs-html="true"
                                        :data-bs-content="processarDescricaoItem(item.descricao)"
                                        >
                                            <div class="sprite" :style="{
                                                '--size': 'calc(2 * 32px)',
                                                '--sprite-x': item.sprite_x,
                                                '--sprite-y': item.sprite_y,
                                                'background-image': `url('/static/sprites_01.png')`,
                                                'background-size': 'calc(2 * 320px) calc(2 * 320px)'
                                            }">
                                            </div>
                                        </button>
                                    </div>

                                    <div class="p-3">
                                        <div class="row flex-wrap align-items-center justify-content-center w-100 mx-auto" style="gap: 16px 8px">
                                            <div v-for="inimigo in masmorra.lista_inimigos" class="col-12 col-md-5 border entity-container rounded p-3 text-white" data-bs-toggle="collapse" data-bs-target=".row.collapse"  :style="{
                                                '--masmorra-bg': `url('/static/${masmorra.imagem_background}')`,
                                                'background': `linear-gradient(var(--bg-dark), transparent 30%), linear-gradient(transparent, var(--bg-dark) 70%), var(--masmorra-bg)`,
                                                'background-size': 'cover',
                                                'background-position': 'center'
                                            }">
                                                <h3 class="card-title d-flex">[[ inimigo.nome ]]</h3>
                                                <div class="text-center my-2">
                                                    <div class="sprite-container" :style="{'animation-duration': `${500*inimigo.resistencia/inimigo.agilidade}ms`}">
                                                        <div class="sprite" 
                                                                :class="{ 'morto': inimigo.vida <= 0 }"
                                                                :style="{
                                                                    '--sprite-x': inimigo.sprite_x, 
                                                                    '--sprite-y': inimigo.sprite_y,
                                                                    'background-image': `url('/static/${inimigo.sprite_nome}')`,
                                                                    'background-size': `${inimigo.sprite_largura}px ${inimigo.sprite_altura}px`,
                                                                }"></div>
                                                    </div>
                                                </div>
                                                <p class="text-center mb-0">[[ inimigo.descricao ]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_placar_de_lideres" tabindex="-1" v-if="placar_de_lideres">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Placar de Líderes</h5>
                            <button type="button" class="btn p-0 ms-auto" data-bs-dismiss="modal" aria-label="Close">
                                <div class="material-symbols-outlined text-white">close</div>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered table-hoverable rounded bg-transparent">
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Level</th>
                                    <th>Classe</th>
                                </tr>
                                <tr v-for="pontuacao in placar_de_lideres">
                                    <td :class="{'text-warning': pontuacao.nome == jogador.nome}">#[[pontuacao.posicao]]</td>
                                    <td :class="{'text-warning': pontuacao.nome == jogador.nome}">[[pontuacao.nome]]</td>
                                    <td :class="{'text-warning': pontuacao.nome == jogador.nome}">[[pontuacao.level]]</td>
                                    <td :class="{'text-warning': pontuacao.nome == jogador.nome}">[[pontuacao.classe]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="modal fade" id="modal_evolucao" tabindex="-1" v-if="jogador">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Evolução [[jogador.classe.nivel + 1]]</h5>
                            <button type="button" class="btn p-0 ms-auto" data-bs-dismiss="modal" aria-label="Close">
                                <div class="material-symbols-outlined text-white">close</div>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="rounded border border-info p-2 text-info d-flex flex-row justify-content-start align-items-center gap-2 mb-3" data-bs-toggle="tooltip" data-bs-title="Ouro">
                                <div class="material-symbols-outlined text-info">arrow_upload_ready</div>
                                Lvl. [[ jogador.level ]] / [[ jogadorEvoluirClasseLevel ]]
                            </div>
                            <div class="rounded border border-warning p-2 text-warning d-flex flex-row justify-content-start align-items-center gap-2 mb-3" data-bs-toggle="tooltip" data-bs-title="Ouro">
                                <div class="material-symbols-outlined text-warning">paid</div>
                                [[ jogador.ouro ]] / [[ jogadorEvoluirClassePreco ]]
                            </div>

                            <div class="d-flex flex-row gap-2">
                                <button @click="subirNivelClasse(classe)" class="card text-white pt-3" v-for="classe in jogador.classe.proximas_classes">
                                    <div class="sprite-container">
                                        <div class="sprite"
                                        style="background-image: url('/static/sprites_01.png'); background-size: calc(3 * 320px) calc(3 * 320px);"
                                        :style="{
                                            '--sprite-x': spriteXClasse(classe),
                                            '--sprite-y': spriteYClasse(classe),
                                        }"></div>
                                    </div>
                                    <span class="pt-2">[[classe]]</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
<script>
    window.WS_URL = "{{ ws_url }}";
</script>
{% block scripts %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/static/app.js"></script>
{% endblock %}